{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}" class="medium-hide large-up-hide">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
  <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">          


      <h4 class="sideBar_title">{{section.settings.sideBar_title}}</h4> 

      <input type="checkbox" class="menu_btn" id="menu_toggle" checked> 
          <label for="menu_toggle"  class="inside_menu_icon menu_icon"> 
                <span class="menu inside_menu"></span> 
          </label> 
      <div class="sideBar_inner"> 
        <div class="top_menu"> 
           {% assign link = section.settings.menu.links %} 
            <ul class="top_menu_list">   
              {% for link in section.settings.menu.links %} 
                <div class="link_details"> 
                 <li>
                   <a class="link_title {% if link.active %} active {% endif %} {% if link.child_active %} child-active {% endif %} {% if template.name == "product" and link.levels == 2 %} child-active {% endif %}" href="{{ link.url }}" {% if link.url  contains "https://instagram.com" %} target="_blank"{% endif %}>{{ link.title }}</a> 
                      {% assign child_list_handle = link.title | handleize %} 
                      {% assign child_list = linklists[child_list_handle] %} 
                        {% if child_list != blank %} 
                          <div class="child-list-wrapper">
                                {% assign child_link  = child_list.links %} 
                          <input type="checkbox" class="dropDown_btn" id= {{ link.title }} checked {% if template.name == "product" and link.levels == 2 %}checked{% endif %}   /> 
                            <label for= {{ link.title }} class="dropDown_icon"> 
                                  <span class="dropDown" ></span> 
                            </label> 
                          {% for child_link in child_list.links %} 
                                  <ul class="dropDown_container">                                  
                                       <li><a class="child_title {% if link.active %} active {% endif %}{% if link.child_active %} child-active {% endif %} {% if template.name == "product" %} child-active {% endif %}" href="{{ child_link.url }}">{{ child_link.title }}</a></li>    
                                    {% assign grandchild_list_handle = child_link.title | handleize %} 
                                        {% assign grandchild_list = linklists[grandchild_list_handle] %} 
                                          {% if grandchild_list != blank %} 
                                            {% assign grandchild_link  = grandchild_list.links %} 
                                            <input type="checkbox" class="dropDown_btn" id= {{ child_link.title }} checked {% if template.name == "product"  %}checked{% endif %} /> 
                                            <label for= {{ child_link.title }} class="gCdropDown_icon dropDown_icon">
                                                  <span class="dropDown" ></span> 
                                            </label> 
                                            {% for grandchild_link in grandchild_list.links %}
                                             <ul class="dropDown_container">                                
                                                 <li><a class="grandchild_title" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>                             
                                             </ul>
                                            {% endfor %}
                                          {% endif %}
                                    </ul>
                           {% endfor %}
                          </div>
                          {% endif %}
                   </li>
              </div> 
             {% endfor %} 
          </ul> 
        </div> 
        <div class="bottom_menu">
           {% assign link = linklists[section.settings.sidebar_bottom_link_list].link %} 
            <ul>   
              {% for link in linklists[section.settings.sidebar_bottom_link_list].links%} 
              <div class="link_details">
                 <li><a class="link_title" href="{{ link.url }}">{{ link.title }}</a> 
                      {% assign child_list_handle = link.title | handleize %}
                      {% assign child_list = linklists[child_list_handle] %}
                        {% if child_list != blank %}
                          {% assign child_link  = child_list.links %}
                          <input type="checkbox" class="dropDown_btn" id= {{ link.title }} >
                            <label for= {{ link.title }} class="dropDown_icon">
                                  <span class="dropDown" ></span>
                            </label>

                                 {% for child_link in child_list.links %}
                                  <ul class="dropDown_container">                                
                                       <li><a class="child_title" href="{{ child_link.url }}">{{ child_link.title }}</a></li> 
                                    {% assign grandchild_list_handle = child_link.title | handleize %}
                                        {% assign grandchild_list = linklists[grandchild_list_handle] %}
                                          {% if grandchild_list != blank %}
                                              {% assign grandchild_link  = grandchild_list.links %}
                                            <input type="checkbox" class="dropDown_btn" id= {{ child_link.title }} >
                                              <label for= {{ child_link.title }} class="gCdropDown_icon dropDown_icon">
                                                    <span class="dropDown" ></span>
                                              </label>
                                                  {% for grandchild_link in grandchild_list.links %}
                                                   <ul class="dropDown_container">                                
                                                       <li><a class="grandchild_title" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>                             
                                                      </ul>
                                             {% endfor %}
                                           {% endif %}
                                    </ul>
                           {% endfor %}
                    {% endif %}
                   </li>
               </div>
               {% endfor %}
          </ul>
        </div>
 
      </div>
                      
          </nav>
        </div>
      </div>
    </div>  
  </details>
</header-drawer>
